/**
*
* CSS Stylesheet for homepage
*
**/
body {
  background-color: #94c9b9;
}

img {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  color: #4c665f;
  font-size: 48px;
}

h2 {
  text-align: center;
  color: #cafdff;
  font-size: 32px;
}

.circle-button {
  /* Set equal width and height for a perfect circle */
  width: 100px;
  height: 100px;
          
  /* Apply border-radius to 50% to make it circular */
  border-radius: 50%;
          
  /* General styling */
  background-color: #94ebee; 
  color: #4c665f;
  border: 3px;
  cursor: pointer; /* Changes cursor to a hand on hover */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: auto;
  font-size: 16px;
  box-shadow: 0 2px 4px darkslategray;
  transition: all 0.2s ease;
  }

.circle-button:hover {
  background-color: #529c9f; /* Darker on hover */
}  

.rounded-square-button {
  width: 100px;
  height: 50px;
  border-radius: 10%;
  float: right;

  background-color: #94ebee;
}

.rounded-square-button:hover {
  background-color: #529c9f;
}

/* Line divider */
hr.solid {
  border-top: 3px solid #000000;
}

/*Space out buttons so they're not kissing.*/
table {
  margin:auto;
}

td{
  padding-left: 50px;
  padding-right: 50px;
}